* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}  
#contents {
 background:url("../images/bg.jpg") no-repeat; /*자리남아도 반복X*/
 background-size:cover;
 width:800px;
 height:500px;
 margin:0 auto;
}
h1 { 
  color:#fff; 
  font-size:120px;
  text-shadow: 2px 3px 0 #000;      
}