main {
	border: 1px solid gray;
	width: 300px;
	margin: 0 auto;
}

h1 {
	text-align: center;
} 

.id_area input, .pw_area input{
	display: block;
	width:180px;
	height: 30px;
	padding: 0px 0px 0px 10px;
	margin: 10px;
}